<form novalidate [formGroup]="addSpecificPoiForm" (ngSubmit)="onSubmit()" *ngIf="latitude && longitude">
  <div class="modal fade" id="addSpecificPoiModal" tabindex="-1" aria-labelledby="addSpecificPoiModal"
       aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="addSpecificPoiModalLabel">Add POI to map </h3>
          <button type="button" class="close" #closebutton data-dismiss="modal" aria-label="Close"
                  (click)="resetForm()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <label for="namePoiInput">Name</label>
            <input type="text" id="namePoiInput" class="form-control"
                   placeholder="Example: Police station n°1"
                   formControlName="namePoi"
                   required
                   minlength="2"
                   name="poiFormName"
                   aria-describedby="namePoi" autofocus>
            <small id="namePoi" class="form-text text-muted">Name of future POI, 20 characters maximum</small>
          </div>

          <div class="form-group">
            <label for="categoryPoiSelect">Poi's Category<span style="color: red">*</span> </label>
            <select id="categoryPoiSelect" class="form-control" #selectedCategory
                    formControlName="selectedCategory"
                    (change)="onChangesSelectCategory(selectedCategory.value)" required>
              <option *ngFor="let category of categoriesList.categories"
                      [value]="category.id">{{category.name}}</option>
            </select>
            <small id="categoryPoiSmallText" class="form-text text-muted">Please select a category from the list</small>
          </div>

          <div class="form-group" *ngIf="this.layersList.length > 0">
            <label for="layerPoiSelect">Poi's Layer <span style="color: red">*</span> </label>
            <select id="layerPoiSelect" class="form-control" #selectedLayer
                    formControlName="selectedLayer"
                    (change)="setSelectedLayer(selectedLayer.value)" required>
              <option *ngFor="let layer of layersList"
                      [value]="layer.id">{{layer.name}}</option>
            </select>
            <small id="layerPoiSmallText" class="form-text text-muted">Please select a layer from the list</small>
          </div>

          <div class="form-group">
            <label for="latitudeInput"> Latitude <span style="color: red">*</span></label>
            <input type="number"
                   formControlName="latitudePoi"
                   class="form-control" id="latitudeInput"
                   placeholder="Latitude"
                   [(ngModel)]=latitude
                   name="latitude"
                   required>
            <small class="form-text text-muted"> Latitude of future POI </small>
          </div>
          <div class="form-group">
            <label for="longitudeInput">Longitude <span style="color: red">*</span></label>
            <input type="number"
                   formControlName="longitudePoi"
                   id="longitudeInput" class="form-control"
                   placeholder="Longitude" [(ngModel)]=longitude 
                   name="longitude"
                   required>
            <small class="form-text text-muted">Longitude of future POI </small>
          </div>


          <div class="form-group" *ngIf="hasAttributes">
            <label>Attributes data type</label>
            <div class="form-group" *ngFor="let attributeType of currentLayer.attributes">
              <label for="descriptionAttributeType"> {{attributeType}} </label>
              <input type="text" class="form-control" id="descriptionAttributeType"
                     formControlName="attributeValuePoi"
                     name="{{attributeType}}" placeholder="{{attributeType}}">
              <small class="form-text text-muted">Attribute data of the Poi</small>
            </div>
          </div>

          <div class="modal-footer">
            <button id="btnCancelAddPoi" type="button" class="btn btn-secondary" data-dismiss="modal"
                    (click)="resetForm()">Cancel
            </button>
            <button id="btnSavePoi" type="submit" class="btn btn-primary" [disabled]="addSpecificPoiForm.invalid">Save
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
