.searchBar {
  padding: 2rem 4rem 2rem 4rem;
  margin: 0 37% 0 37%;
}

.cardStructure {
  margin: 2rem 10% 10% 10%;
  padding: 10px;
  color: white;
  border-radius: 2%;
}

.setPadding {
  padding: 1rem 2rem 1rem 2rem;
}

.searchBarInput {
  height: 3.25rem;
  width: 30rem;
}

.blackText {
  color: black !important;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row > div[class*="col-"] {
  display: flex;
}
