<div class="container-fluid">
  <div class="row">
    <div class="searchBar">
      <form class="form-inline">
        <input id="search-input" [formControl]="control" class="form-control mr-sm-2 searchBarInput" type="search"
          placeholder="Find a profile" aria-label="Search">
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3" *ngFor="let user of filteredUsers | async">
      <div class="cardStructure bg-dark" (click)="goToProfile(user)">
        <div style="margin-bottom: 10px;">
          <img class="card-img-top img-fluid" src="https://picsum.photos/280/280?random={{user.id}}" alt="icon">
        </div>
        <div class="card-block">
          <h5 class="card-title">{{ user.firstname }} {{ user.lastname }}</h5>
          <p class="card-text">{{ user.email }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
