<div class="container-fluid">
  <br>
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <div class="col-md-12">
        <div class="card">
          <header class="card-header card-header-ngms" style="text-align: center;">
            <h5 class="card-title mt-2">Direct Geocoding</h5>
          </header>
          <article class="card-body">
            <form [formGroup]="directForm" (ngSubmit)="onSubmitGeoDirect()">

              <div class="form-group">

                <label>Address</label>
                <input class="form-control" placeholder="Example: Ajaccio" formControlName="address" minlength="2" required>
              </div> <!-- form-group end.// -->
              <div class="form-group">
                <button id="btnSubmitDirectGeocoding" type="submit" class="btn btn-primary float-right btn-go-search"><i class="bi bi-search" aria-hidden="true"></i>
                  Search
                </button>
              </div> <!-- form-group// -->

            </form>
          </article> <!-- card-body end .// -->
        </div> <!-- card.// -->
        <br>
        <ng-container *ngIf="response.length > 0 && isDirectGeoCodeResearch == true">
          <table class="table" id="directGeocodingTable">
            <caption>Result of direct geocoding</caption>
            <thead class="thead-ngms">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Latitude</th>
              <th scope="col">Longitude</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let feature of response; let i = index">
              <tr class="clickable-row-ngms" [attr.data-index]="i" (click)="clickOnRow(i)">
                <th scope="row">{{ feature.properties.display_name }}</th>
                <td>{{ feature.geometry.coordinates[1]}}</td>
                <td>{{ feature.geometry.coordinates[0]}}</td>
              </tr>
            </ng-container>
            </tbody>
          </table>
        </ng-container>

      </div> <!-- ROW.//-->
      <br>
      <div class="col-md-12">
        <div class="card">
          <header class="card-header card-header-ngms" style="text-align: center;">
            <h5 class="card-title mt-2">Reverse geocoding</h5>
          </header>
          <article class="card-body">
            <form [formGroup]="inverseForm" (ngSubmit)="onSubmitGeoInverse()">
              <div class="form-group">

                <label>Latitude</label>
                <input  type="text" class="form-control" placeholder="Example : 41.9263991" formControlName="lat" required>
              </div> <!-- form-group end.// -->
              <div class="form-group">

                <label>Longitude</label>
                <input  type="text" class="form-control" placeholder="Example : 8.7376029" formControlName="lon" required>
              </div> <!-- form-group end.// -->
              <div class="form-group">
                <button id="btnSubmitReverseGeocoding" type="submit" class="btn btn-primary float-right btn-go-search"><i class="bi bi-search" aria-hidden="true"></i>
                  Search
                </button>
              </div> <!-- form-group// -->
            </form>
          </article> <!-- card-body end .// -->
        </div> <!-- card.// -->
        <br>
        <ng-container *ngIf="response.length > 0 && isReverseGeoCodeResearch == true">
          <table class="table">
            <caption>Result of reverse geocoding</caption>
            <thead class="thead-ngms">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Latitude</th>
              <th scope="col">Longitude</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let feature of response; let i = index">
              <tr class="clickable-row-ngms" [attr.data-index]="i" (click)="clickOnRow(i)">
                <th scope="row">{{ feature.properties.display_name }}</th>
                <td>{{ feature.geometry.coordinates[1]}}</td>
                <td>{{ feature.geometry.coordinates[0]}}</td>
              </tr>
            </ng-container>
            </tbody>
          </table>
        </ng-container>

      </div> <!-- ROW.//-->
    </div>

    <div class="col-sm-12 col-md-8">
      <div id="map"></div>
    </div>
  </div>
</div>
