@import "./src/assets/ngms-bootstrap-sass/ngms-variable.scss";
@import "~bootstrap-icons/font/bootstrap-icons.css";

#map {
  height: 800px;
  width: 100%;
}

.btn-go-search {
  background: $emerland;
}

.btn-go-search:hover {
  background: $nephritis;
}

.thead-ngms {
  background-color: $cornflower-blue;
  color: white;
  text-align: center;
}

.clickable-row-ngms:hover {
  background-color: #63cd72;
  cursor: pointer;
}

.card-header-ngms {
  background-color: $cornflower-blue;
  color: white;
  text-align: center;
}

.ng-valid[required], .ng-valid.required {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form) {
  border: 1px solid #e95b58; /* red */
}
