<!-- Modal -->
<div class="modal fade" id="deletionCategoryModal" tabindex="-1" aria-labelledby="deletionCategoryModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="deleteCategoryModalLabel">Delete a category of POI layers</h3>
        <button type="button" class="close" #closebutton data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <p><strong>You asked for deleting category : {{ nameCategory }} with the following information : </strong></p>
        <br>
        <p class="text-bg-ngms"><span class="label-ngms">Name : </span> {{ nameCategory }} </p>
        <p class="text-bg-ngms"><span class="label-ngms">Description : </span> {{ descriptionCategory }}</p>
        <p class="text-bg-ngms"><span class="label-ngms">Number of attached layers : </span> {{ numberOfLayersAttachedToCategory }}</p>
        <br>
         <h5>Are you sure you want to delete this category ? After this action
          <span class="text-danger"><strong>all layers will be attached to "Other" category</strong></span></h5>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No, cancel</button>
        <button type="submit" (click) ="onSubmit()" class="btn btn-danger">Yes, I confirm</button>
      </div>
    </div>
  </div>
</div>
