<div class="modal fade" id="deleteLayerModal" tabindex="-1" aria-labelledby="deleteLayerModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="deleteLayerModalLabel">Delete a layer of POI</h3>
        <button type="button" class="close" #closebutton data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <p><strong>You asked for deleting layer : {{ nameLayer }} with the following information : </strong></p>
        <br>
        <p class="text-bg-ngms"><span class="label-ngms">Name : </span> {{ nameLayer }} </p>
        <p class="text-bg-ngms"><span class="label-ngms">Description : </span> {{ descriptionLayer }}</p>
        <p class="text-bg-ngms"><span class="label-ngms">Number of attached POIs : </span> {{ numberOfPoiAttachedToLayer }}</p>
        <br>
        <h5>Are you sure you want to delete this layer ? This action is <span class="text-danger"><strong>irreversible</strong></span></h5>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No, cancel</button>
        <button type="button" class="btn btn-danger" (click)="deleteLayer()">Yes, I confirm</button>
      </div>

    </div>
  </div>
</div>
