@import "src/assets/ngms-bootstrap-sass/ngms-variable";

#btnCancelUpdatePoi {
  background-color : $silver;
}

#btnUpdatePoi {
  background-color : $emerland;
}

.ng-invalid:not(form) {
  border: 1px solid #e95b58; /* red */
}

.invalid {
  color: #e95b58;

}

.ng-valid[required], .ng-valid.required {
  border-left: 5px solid #42A948; /* green */
}
