<div class="modal fade" id="updatePoiModal" tabindex="-1" aria-labelledby="updatePoiModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="updatePoiModalLabel">Update poi </h3>
          <button type="button" class="close" #closebutton data-dismiss="modal"  aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #updatePoiForm = "ngForm" (ngSubmit)="onSubmit(updatePoiForm)" novalidate>
            <div class="form-group">
              <label for="namePoiInput">Name <span style="color: red">*</span></label>
              <input type="text" id="namePoiInput" class="form-control"
                      aria-describedby="namePOI"
                     [(ngModel)] = "poiLocal.properties.name"
                     name="poiName"
                     #poiName = "ngModel"
                     required
                     minlength="2"
                     autofocus>
              <small id="namePoiRequired" class="invalid" [hidden]="!poiName.invalid">Name of poi is
                                 required and longer than 2 letters, and not only whitespace </small>
              <small id="namePoi" class="form-text text-muted">Name of poi to update </small>
            </div>
            <div class="form-group">
              <label for="longitudePoi"> Latitude  </label>
              <input type="number" class="form-control" id="longitudePOi" required  [(ngModel)] = "poiLocal.geometry.coordinates[1]"  name="poiUpdatePosY" placeholder="Latitude">
              <small  class="form-text text-muted">Latitude of the POI </small>
            </div>
            <div class="form-group">
              <label for="latitudePoi">Longitude</label>
              <input type="number" id="latitudePoi" class="form-control" required [(ngModel)] = "poiLocal.geometry.coordinates[0]"  name="poiUpdatePosX" placeholder="Longitude">
              <small  class="form-text text-muted">Longitude of the POI </small>
           </div>
         <div class="form-group" *ngIf=" sizeAttribute > 0 ">
          <label for="descriptionAttributeType">Attributes data</label>
          <div class="form-group" *ngFor="let attributeType of layer.attributes">

            <label for="longitude"> {{attributeType}} </label>
              <input type="text" class="form-control"  [(ngModel)] ="poiLocalAttribute[attributeType]"  name="{{attributeType}}" placeholder="{{attributeType}}">
              <small  class="form-text text-muted">Attribute data of the Poi</small>
          </div>
         </div>
            <div class="modal-footer">
              <button id="btnCancelUpdatePoi" type="button" class="btn btn-secondary" data-dismiss="modal" (click)="resetForm(updatePoiForm)">Cancel</button>
              <button id="btnUpdatePoi" type="submit" class="btn btn-primary" [disabled]="updatePoiForm.invalid">Update</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>

