<form #attachForm="ngForm" novalidate>
  <div class="modal fade" id="importPoiModal" tabindex="-1" aria-labelledby="importPoiModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="importPoiModalLabel"  *ngIf="layer"> Import POI'S to layer {{layer.name}} </h3>
          <button type="button" class="close" #closebutton data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <p>Choose a file, in GeoJson format and EPSG:4326 (<a target="_blank" href="../../../../../../assets/data/example_geojson.geojson"> see exemple here </a>)</p>
          <div class="input-group mb-3">

            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
            </div>
            <div class="custom-file">
              <input type="file" #file class="custom-file-input" id="inputGroupFile01"
                     aria-describedby="inputGroupFileAddon01" (change)="getFile($event)">
              <label class="custom-file-label" for="inputGroupFile01" *ngIf="!base64Icon">Choose file</label>
              <label class="custom-file-label" for="inputGroupFile01" *ngIf="base64Icon">  {{fileName}} </label>
            </div>
          </div>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnCancelImport"
                  (click)="resetForm(attachForm)">Cancel</button>
          <button type="button" class="btn btn-primary" id="btnSaveImport"(click)="onSubmit(attachForm)"
                  [disabled]="!base64Icon">Save</button>
        </div>

      </div>
    </div>
  </div>
</form>
