<form (ngSubmit)="onSubmit(updateLayerForm)" novalidate #updateLayerForm="ngForm">
  <div class="modal fade" id="updateLayerModal" tabindex="-1" aria-labelledby="updateLayerModalLabel"
       aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="updateLayerModalLabel">Update Layer</h3>
          <button type="button" class="close" #closebutton data-dismiss="modal" aria-label="Close"
                  (click)="resetForm()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <label for="nameLayerInput">Name <span style="color: red">*</span></label>
            <input type="text" id="nameLayerInput" class="form-control"
                   placeholder="Example: Police"
                   [(ngModel)]="layerLocal.name"
                   #name="ngModel"
                   minlength="2"
                   maxlength="50"
                   name="name"
                   aria-describedby="nameLayer" required autofocus>
            <small id="nameLayerRequired" class="invalid" [hidden]="!name.invalid">Name of layer is required and must be
              longer than 2 letters, shorter than 50 letters and not only whitespace
            </small>
            <small id="nameLayerSmallText" class="form-text text-muted">Name of layer to update</small>
          </div>
          <div class="form-group">
            <label for="descriptionLayerTextArea">Description <span style="color: red">*</span></label>
            <textarea id="descriptionLayerTextArea" class="form-control"
                      placeholder="Example: Layer which contains Italy police stations"
                      [(ngModel)]="layerLocal.description"
                      #description="ngModel"
                      minlength="3"
                      name="description"
                      aria-describedby="nameLayer" required autofocus></textarea>
            <small id="descriptionLayerRequired" class="invalid" [hidden]="!description.invalid">Description of layer is
              required and longer than 3 letters, and not only whitespace </small>
            <small id="descriptionLayerSmallText" class="form-text text-muted">Description of layer to update</small>
          </div>
          <ng-container *ngIf="layer && layer.attributes && layer.attributes[0] !==''">
            <label>Attributes type</label>
            <div *ngFor="let attribute of layer.attributes; let i = index">
              <p><span class="label-ngms">{{ i + 1}} :</span>  {{ attribute }}</p>
            </div>
          </ng-container>

          <label>Update layer icon </label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="updateIcon">Upload Icon</span>
            </div>
            <div class="custom-file">
              <input type="file"class="custom-file-input" id="inputIcon"
                     aria-describedby="updateIcon" #icon (change)="getPicture($event)">
              <label class="custom-file-label" for="inputIcon" *ngIf="!base64Icon">Choose file</label>
              <label class="custom-file-label" for="inputIcon" *ngIf="base64Icon">  {{fileName}} </label>
            </div>
            <button *ngIf="base64Icon" class="btn btn-danger" (click)="resetIcon()">Reset</button>
          </div>
          <ng-container *ngIf="layer && layer.icon">
          <span>Layer Icon </span> <br>
           <img [src]="'data:image/png;base64,'+layer.icon" alt="Layer icon">
            <button  class="btn btn-danger" style="margin-left: 10px" (click)="removeIcon()"> Delete icon</button>
          </ng-container>
          <div class="modal-footer">
            <button id="btnCancelUpdateLayer" type="button" class="btn btn-secondary" data-dismiss="modal"
                    (click)="resetForm()">Cancel
            </button>
            <button id="btnUpdateLayer" type="submit" class="btn btn-primary" [disabled]="updateLayerForm.invalid">
              Save
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
