<form (ngSubmit)="onSubmit(form)" novalidate #form="ngForm">
  <div class="modal fade" id="addPoiModal" tabindex="-1" aria-labelledby="addPoiModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="addPoiModalLabel" *ngIf="layer">Add POI to layer : {{layer.name}} </h3>
          <button type="button" class="close" #closebutton data-dismiss="modal" aria-label="Close"
                  (click)="resetForm(form)">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <label for="namePoiInputAdd">Name</label>
            <input type="text" id="namePoiInputAdd" class="form-control"
                   placeholder="Example: Police"
                   required
                   [(ngModel)]="poi.name"
                   minlength="2"
                   name="poiFormName"
                   aria-describedby="namePoi" autofocus>
            <small id="namePoi" class="form-text text-muted">Name of future POI, 20 characters maximum</small>
          </div>
          <div class="form-group">
            <label for="latitudeInput"> Latitude </label>
            <input id="latitudeInput" type="number" class="form-control" required [(ngModel)]="poi.posY"
                   name="poiFormPosY"
                   placeholder="Latitude">
            <small class="form-text text-muted"> Latitude of future POI </small>
          </div>
          <div class="form-group">
            <label for="longitudeInput">Longitude</label>
            <input type="number" id="longitudeInput" class="form-control" required [(ngModel)]="poi.posX"
                   name="poiFormPosX"
                   placeholder="Longitude">
            <small class="form-text text-muted">Longitude of future POI </small>
          </div>
          
          <div class="form-group" *ngIf="hasAttribute">
            <label for="descriptionAttributeType">Attributes data type</label>
            <div class="form-group" *ngFor="let attributeType of layer.attributes">
              <label for="attributeType"> {{attributeType}} </label>
              <input type="text" class="form-control" id="attributeType" [(ngModel)]="attributeValue[attributeType]"
                     name="{{attributeType}}" placeholder="{{attributeType}}">
              <small class="form-text text-muted">Attribute data of the Poi</small>
            </div>
          </div>
          <div class="modal-footer">
            <button id="btnCancelAddPoi" type="button" class="btn btn-secondary" data-dismiss="modal"
                    (click)="resetForm(form)">Cancel
            </button>
            <button id="btnSavePoi" type="submit" class="btn btn-primary" [disabled]="form.invalid">Save</button>
          </div>
        </div>
 
      </div>
    </div>
  </div>
</form>
