@import "./src/assets/ngms-bootstrap-sass/ngms-variable.scss";
.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
}
  
.ng-invalid:not(form)  {
    border: 1px solid #e95b58; /* red */
}
.alert {
      text-align: center;
}

.sign-in {
  color: $cornflower-blue;
  border-color : $cornflower-blue;
}

.sign-in:hover {
  color: white;
  border-color : $nephritis;
  background-color: $nephritis;
}

.sign-up {
  color: White;
  background-color: $cornflower-blue;
  border-color : $cornflower-blue;
}

.sign-up:hover {
  color: white;
  border-color : $nephritis;
  background-color: $nephritis;
}