@import "src/assets/ngms-bootstrap-sass/ngms-variable";
#btnSaveCategoryOther {
  background-color : $emerland;
}
#btnCancelCategoryOther {
  background-color : $silver;
}
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border: 1px solid #e95b58; /* red */
}
