<div class="row">
  <div class="col-md-12">

    <div class="text-center" id="page-content">
      <h1 id="not-found-text-1">4</h1>
      <img class="center-block img-fluid" src="assets/imgs/earth-globe.png" alt="earth globe image">
      <h1 id="not-found-text-2">4</h1>
      <p id="not-found-description"> You're lost in deep space. <a routerLink="/home"> Let's go back
        to earth.</a></p>
    </div>

  </div>
</div>


