@import "./src/assets/ngms-bootstrap-sass/ngms-variable.scss";
@import "~bootstrap-icons/font/bootstrap-icons.css";

#not-found-text-1, #not-found-text-2 {
  font-size: 14em;
  color : $silver;
}

#not-found-description {
  font-size: 2em;
  color : $silver;
}

h1 {
  display: inline-block;
}

img {
  display: inline-block;
  margin-bottom: 9em;
  padding: 1em;
}

a {
  color: $cornflower-blue;
}

#page-content {
  margin-top: 10em;
}
