@import "./src/assets/ngms-bootstrap-sass/ngms-variable.scss";
@import "~bootstrap-icons/font/bootstrap-icons.css";

#submit-button {
  background-color: $peter-river;
  color: white;
}
.label-ngms {
  font-weight: bold;
  color: $peter-river;
}
