@import "src/assets/ngms-bootstrap-sass/ngms-variable";
@import "~bootstrap-icons/font/bootstrap-icons.css";

#btnCancelAddLayer {
  background-color : $silver;
}

#btnSaveLayer {
  background-color : $emerland;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border: 1px solid #e95b58; /* red */
}

.invalid {
  color : #e95b58;
}

.btn.disabled, .btn:disabled {
    opacity: 0.30;
}
