<div class="modal fade" id="addLayerModal" tabindex="-1" aria-labelledby="addLayerModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="addLayerModalLabel">Add Layer</h3>
        <button type="button" class="close" #closebutton data-dismiss="modal" aria-label="Close" (click)="resetForm()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="addForm" (ngSubmit)="onSubmit()" novalidate>
          <div class="form-group">
            <label for="nameLayerInputAdd">Name <span style="color: red">*</span></label>
            <input type="text" id="nameLayerInputAdd" class="form-control" placeholder="Example: Police"
              formControlName="name" minlength="2" maxlength="50" aria-describedby="nameLayer" required autofocus>
            <small id="nameLayerAddRequired" class="invalid" [hidden]="!addForm.controls.name.invalid">Name of
              layer is required and must be longer than 2 letters, shorter than 50 letters and not only whitespace
            </small>
          </div>
          <div class="form-group">
            <label for="descriptionLayerTextAreaAdd">Description <span style="color: red">*</span></label>
            <textarea id="descriptionLayerTextAreaAdd" class="form-control"
              placeholder="Example: Layer which contains Italy police stations" formControlName="description"
              aria-describedby="descriptionLayer" minlength="3" required autofocus></textarea>
            <small id="descriptionLayerAddRequired" class="invalid"
              [hidden]="!addForm.controls.description.invalid">Description
              of layer is
              required and longer than 3 letters, and not only whitespace </small>
          </div>

          <label> Define icon for this layer </label>
          <div class="input-group mb-3">

            <div class="input-group-prepend">
              <span class="input-group-text" id="iconUpload">Upload Icon</span>
            </div>
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="iconUpload" #icon
                (change)="getPicture($event)">
              <label class="custom-file-label" for="inputGroupFile01" *ngIf="!base64Icon">Choose file</label>
              <label class="custom-file-label" for="inputGroupFile01" *ngIf="base64Icon"> {{fileName}} </label>
            </div>
            <button *ngIf="base64Icon" class="btn btn-danger" (click)="resetIcon()">Reset</button>
          </div>

          <div class="form-group">
            <label for="listAttributesLayerInput">Attributes data type</label>
            <br>
            <button type="button" class="btn btn-outline-danger" (click)="removeAttributeData()">
              <i class="bi bi-dash" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-outline-success" (click)="addAttributeData()">
              <i class="bi bi-plus" aria-hidden="true"></i>
            </button>
            <br>
            <small id="attributesLayerSmall" style="color: gray">Click on the "+" to add a new attribute data label and
              on "-" to remove it
            </small>

            <div formArrayName="listAttributes"
              *ngFor="let item of addForm.get('listAttributes')['controls']; let i = index;">
              <div [formGroupName]="i">
                <input id="listAttributesLayerInput" placeholder="Data attribute" class="form-control col-md-4"
                  formControlName="listAttributes">
                <br>
              </div>
            </div>

          </div>

          <div class="modal-footer">
            <button id="btnCancelAddLayer" type="button" class="btn btn-secondary" data-dismiss="modal"
              (click)="resetForm()">Cancel
            </button>
            <button id="btnSaveLayer" type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
