<div class="container-fluid ">
  <br>

  <form [formGroup]="providerForm">
    <label>Provider</label>
    <div class="form-group">
      <p>
        <input type="radio" value="wms" formControlName="provider"> WMS
        <input type="radio" value="geojson" formControlName="provider" ngDefaultControl> GeoJSON
      </p>
    </div>
  </form>

  <div class="row">
    <div class="col-sm-12 col-md-4">
      <h4 *ngIf="!allCategoriesModel.categories || allCategoriesModel.categories.length == 0">There is no category</h4>
      <div class="accordion" id="accordionExample" *ngIf="allCategoriesModel.categories">
        <ng-container *ngFor="let cat of allCategoriesModel.categories  | paginate: {
          id: 'category-pagination',
          itemsPerPage: numberCategoryPerPage,
          currentPage: currentCategoryPage,
          totalItems: allCategoriesModel.categories.length };let indexCat = index;">
          <div class="card" *ngIf="allCategoriesModel.categories.length > 0">
            <div class="card-body cat">
              <h6 class="card-text">
                <a href='#category_{{cat.id}}' class="a-cat" data-toggle="collapse"
                  (click)="getLayersByCategory(cat.id)" aria-hidden="true"><span> <i class="bi bi-chevron-down layer"
                      aria-hidden="true"></i></span>&nbsp;&nbsp;&nbsp;&nbsp;{{cat.name }}
                </a>
                <span style="float: right;">

                  <i class="bi bi-question-circle-fill ngms-icon" aria-hidden="true" data-toggle="modal"
                    data-target="#infoCategoryModal" (click)="setSelectedCategory(indexCat); toastDescriptionCategory()"
                    [attr.data-index]="indexCat"></i>
                  <ng-container *ngIf="cat.name !== 'Other' ">
                    <i class="bi bi-pencil-fill ngms-icon" aria-hidden="true" data-toggle="modal"
                      data-target="#updateCategoryModal" (click)="setSelectedCategory(indexCat)"
                      [attr.data-index]="indexCat" *ngIf="isAdmin() || isEditor()"></i>
                    <i class="bi bi-trash-fill ngms-icon" style="color: red;" aria-hidden="true" data-toggle="modal"
                      data-target="#deletionCategoryModal" (click)="setSelectedCategory(indexCat); "
                      [attr.data-index]="indexCat" *ngIf="isAdmin()"></i>
                  </ng-container>
                </span>
              </h6>
            </div>

            <div id="category_{{cat.id}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
              <button id="btnAddLayer" type="button" class="btn btn-dark col-12" data-toggle="modal"
                data-target="#addLayerModal" *ngIf="isAdmin()">Add Layer
              </button>
              <div class="card-body" *ngFor="let layer of listLayers  | paginate: {
                id: 'layer-pagination',
                itemsPerPage: numberLayerPerPage,
                currentPage: currentLayerPage,
                totalItems: listLayers.length }; let indexLayer=index;">
                <div class="card-title mb-2 text-muted" id="headingOne">

                  <i class="bi bi-trash-fill" style="color: red;cursor:pointer;" aria-hidden="true" data-toggle="modal"
                    data-target="#deleteLayerModal" (click)="getPois(layer.id); setSelectedLayer(layer,indexLayer); "
                    *ngIf="isAdmin()"></i>

                  <i class="bi bi-bookmark-plus-fill ngms-icon" *ngIf="cat.name === 'Other'"
                    style="color:#53a5e9; margin-left: 5px" aria-hidden="true" data-toggle="modal"
                    data-target="#attachOtherCategoryModal"
                    (click)="setSelectedLayer(layer,indexLayer); setSelectedCategory(indexCat)"></i>

                  <a (click)="getPois(layer.id); showPoisByLayer(layer);setSelectedLayer(layer,indexLayer);  "
                    style="cursor: pointer;">
                    &nbsp;&nbsp;&nbsp;&nbsp;{{layer.name}}
                  </a>

                  <span style="float: right;">
                    <i class="bi bi-file-earmark-plus-fill ngms-icon" style="color:#53a5e9" aria-hidden="true"
                      data-toggle="modal" data-target="#importPoiModal"
                      (click)="getPois(layer.id);setSelectedLayer(layer,indexLayer)"
                      *ngIf="isAdmin() || isEditor()"></i>
                    <i class="bi bi-download ngms-icon" style="color:#53a5e9" aria-hidden="true"
                      (click)="exportLayer(layer)" *ngIf="isAdmin() || isEditor()"></i>
                    <i class="bi bi-plus-circle-fill ngms-icon" style="color:#40cc71" aria-hidden="true"
                      data-toggle="modal" data-target="#addPoiModal"
                      (click)="getPois(layer.id);setSelectedLayer(layer,indexLayer)" *ngIf="isAdmin() || isEditor()">
                    </i>
                    <i class="bi bi-pencil-fill" aria-hidden="true" data-toggle="modal" data-target="#updateLayerModal"
                      (click)="getPois(layer.id);
                       setSelectedLayer(layer,indexLayer);showPoisByLayer(layer);" *ngIf="isAdmin() || isEditor()"></i>
                  </span>
                </div>

                <div *ngIf="showLayers && layer.id == selectionedLayer">
                  <ng-container *ngFor="let poi of pois | paginate: {
                    id: 'poi-pagination',
                  itemsPerPage: numberPoiPerPage,
                  currentPage: currentPoiPage,
                  totalItems: pois.length }; let indexPoi= index">

                    <div id="{{poi.properties.id}}" class="card-body poi-clicked"
                      *ngIf="poiIndexClicked != null && poiIndexClicked==indexPoi">

                      <i class="bi bi-trash-fill" style="color: red;" aria-hidden="true" data-toggle="modal"
                        data-target="#deletePoiModal"
                        (click)="setSelectedPoi(indexPoi, poi, indexPoi); setSelectedLayer(layer,indexLayer)"
                        *ngIf="isAdmin()"></i>
                      <span class="mb-0" style="cursor:pointer; color:black;" (click)="showPoiClicked(poi, indexPoi);">
                        {{ poi.properties.name}}
                      </span>
                      <span style="float: right;"><i class="bi bi-pencil-fill" data-toggle="modal"
                          data-target="#updatePoiModal" aria-hidden="true"
                          (click)="setSelectedLayer(layer,indexLayer); setSelectedPoi(indexPoi,poi, indexPoi);"
                          *ngIf="isAdmin() || isEditor()"></i></span>
                    </div>

                    <div id="poi_{{poi.properties.id}}" class="card-body"
                      *ngIf="poiIndexClicked == null || poiIndexClicked!=indexPoi ">
                      <div class="card-title mb-2 text-muted">

                        <i class="bi bi-trash-fill" style="color: red;" aria-hidden="true" data-toggle="modal"
                          data-target="#deletePoiModal"
                          (click)="setSelectedPoi(indexPoi, poi, indexPoi); setSelectedLayer(layer,indexLayer) "
                          *ngIf="isAdmin()"></i>
                        <span class="mb-0" style="cursor:pointer; color:black;"
                          (click)="showPoiClicked(poi, indexPoi);">&nbsp;&nbsp;&nbsp;&nbsp;{{ poi.properties.name}}
                        </span>
                        <span style="float: right;"><i class="bi bi-pencil-fill" data-toggle="modal"
                            data-target="#updatePoiModal" aria-hidden="true"
                            (click)="setSelectedLayer(layer,indexLayer); setSelectedPoi(indexPoi,poi,indexPoi);"
                            *ngIf="isAdmin() || isEditor()"></i></span>
                      </div>
                    </div>

                  </ng-container>
                  <ng-container *ngIf="pois.length > numberPoiPerPage">
                    <pagination-controls id="poi-pagination" (pageChange)="poiPageChange($event) " responsive="true"
                      previousLabel="" nextLabel="" screenReaderPaginationLabel="Pagination"
                      screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
                    </pagination-controls>
                  </ng-container>
                </div>
              </div>
              <ng-container *ngIf="listLayers.length > numberLayerPerPage">
                <pagination-controls id="layer-pagination" (pageChange)="currentLayerPage = $event " responsive="true"
                  previousLabel="" nextLabel="" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                  screenReaderCurrentLabel="You're on page">
                </pagination-controls>
              </ng-container>
            </div>
          </div>

        </ng-container>
        <ng-container *ngIf="allCategoriesModel.categories.length > numberCategoryPerPage">
          <pagination-controls id="category-pagination" (pageChange)="currentCategoryPage = $event " responsive="true"
            previousLabel="" nextLabel="" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
            screenReaderCurrentLabel="You're on page">
          </pagination-controls>
        </ng-container>
      </div>
      <button id="btnAddCategory" type="button" class="btn btn-success col-12" data-toggle="modal"
        data-target="#addCategoryModal" *ngIf="isAdmin()">Add category
      </button>
    </div>
    <app-add-category [categories]="allCategoriesModel"></app-add-category>
    <app-update-category [id]="idSelectedCategory" [indexTableCategory]="indexCategory"
      [categories]="allCategoriesModel" [nameCategoryToUpdate]="nameOfSelectedCategory"
      [descriptionCategoryToUpdate]="descriptionOfSelectedCategory">
    </app-update-category>
    <app-delete-category [idCategoryToDelete]="idSelectedCategory" [indexTableCategory]="indexCategory"
      [nameCategory]="nameOfSelectedCategory" [descriptionCategory]="descriptionOfSelectedCategory"
      [categories]="allCategoriesModel" [numberOfLayersAttachedToCategory]="numberLayersByCategory"
      (removeCategoryFromMap)="refreshMap($event)">
    </app-delete-category>
    <app-add-layer [idCategory]="idSelectedCategory" [layers]="listLayers"></app-add-layer>
    <app-update-layer [layer]="selectedLayer" (showLayer)="showLayerUpdate($event)"></app-update-layer>
    <app-delete-layer [layer]="selectedLayer" [layers]="listLayers" [index]="indexLayer"
      [idLayerToDelete]="idSelectedLayer" [nameLayer]="nameOfSelectedLayer"
      [descriptionLayer]="descriptionOfSelectedLayer" [numberOfPoiAttachedToLayer]="pois.length"
      (removeLayerFromMap)="refreshMap($event)">
    </app-delete-layer>
    <app-add-poi [layer]="selectedLayer" [poiList]="pois" [hasAttribute]="isEmptyAttribute"
      (showLayer)="showLayerUpdate($event)"></app-add-poi>
    <app-add-specific-poi *ngIf="addPoiToMapIsEnable" [categoriesList]="allCategoriesModel" [latitude]="currentLatitude"
      [longitude]="currentLongitude" (showLayer)="showLayerUpdate($event)"></app-add-specific-poi>
    <app-update-poi [layer]="selectedLayer" [poi]="selectedPoi" [indexPoi]="poiIndexTab" [poiList]="pois"
      (showPoi)="showPoiUpdate($event)">
    </app-update-poi>
    <app-delete-poi [poiToDelete]="selectedPoi" [poisList]="pois" [indexTablePoiToDelete]="indexSelectedPoi"
      [layer]="selectedLayer" (deletingPoiToMap)="deletePoiToMap($event)"></app-delete-poi>
    <app-attach-other-category-layer [layer]="selectedLayer" [categories]="allCategoriesModel.categories"
      [layers]="listLayers" [idCurrentCategory]="idSelectedCategory">

    </app-attach-other-category-layer>
    <app-import-poi [layer]="selectedLayer" [poiList]="pois" (importPois)="importPoiToMap($event)"></app-import-poi>
    <div class="col-sm-12 col-md-8">
      <span id="spanAddSpecificPoi" class="text-warning"></span>
      <div id="myMap" data-toggle="modal" data-target="#addSpecificPoiModal"></div>
    </div>

  </div>
</div>
