@import "./src/assets/ngms-bootstrap-sass/ngms-variable.scss";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import '~ngx-toastr/toastr';


#myMap {
  height: 800px;
  width: 100%;
}

#btnAddCategory {
  background-color: $emerland;
  color: white;
  font-weight: bold;
  height: 55px;
}

#btnAddCategory:hover {
  background-color: $nephritis;
  color: white;
  font-weight: bold;
}

#btnAddLayer {
  background-color: $silver;
  color: white;
}

#btnAddLayer:hover {
  background-color: $white-smoke;
  color: black;
}

.cat {
  color: black;
  background-color: $cornflower-blue;
}

.a-cat {
  color: white;
  text-decoration: none;
}

.layer {
  color: black;
}

.ngms-icon {
  padding-right: 15px;
  color: $white-smoke;
}

i:hover {
  cursor: pointer;
}
.poi-clicked {
  background: #2ecc71;
}
