<div class="modal fade" id="deletePoiModal" tabindex="-1" aria-labelledby="deletePoiModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="deletePoiModalLabel">Delete a POI</h3>
        <button type="button" class="close" #closebutton data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <p><strong>You asked for deleting poi named "{{ this.name  }}"
          with the following information : </strong></p>
        <br>
        <p class="text-bg-ngms"><span class="label-ngms">Latitude : </span> {{ this.latitude }} <small class="text-bg-ngms">(EPSG:3857)</small></p>
        <p class="text-bg-ngms"><span class="label-ngms">Longitude : </span> {{ this.longitude }} <small class="text-bg-ngms">(EPSG:3857)</small> </p>

        <br>
        <h5>Are you sure you want to delete this Poi ? This action is <span
          class="text-danger"><strong>irreversible</strong></span></h5>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No, cancel</button>
        <button type="button" class="btn btn-danger" (click)="onSubmit()">Yes, I confirm</button>
      </div>

    </div>
  </div>
</div>

